.alien-link {
  color: #c2f9bb;
  text-decoration: none;
  transition: font-variation-settings 0.2s ease;
  font-variation-settings:
    "wght" 400,
    "casl" 0;
}

.alien-link:hover {
  font-variation-settings:
    "wght" 600,
    "casl" 1;
}
